/SwimmingTraningSystem/bin/classes
/SwimmingTraningSystem/bin/dexedLibs
/SwimmingTraningSystem/bin/res
/SwimmingTraningSystem/bin/AndroidManifest.xml
/SwimmingTraningSystem/bin/classes.dex
/SwimmingTraningSystem/bin/jarlist.cache
/SwimmingTraningSystem/bin/R.txt
/SwimmingTraningSystem/bin/resources.ap_
/SwimmingTraningSystem/gen
/wheel/gen
/wheel/bin/classes
/wheel/bin/res
/wheel/bin/AndroidManifest.xml
/wheel/bin/R.txt
/wheel/*.classpath
